

<h2>
<%= @book.title %> (<%= @book.pages %> pages)
</h2>

<p>Authors:</p>
<ul>
<li>
  <% @book.authors.each do |author| %>
    <%= author.name %> (b. <%= author.birth_year %>)
    <%= button_to "Remove author", authors_path, method: :delete %>
  <% end %>
</li>
</ul>

<%= render "writes/form" %>
